.carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.items-container {
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
    padding: 0 5px;
}

.active, .next {
    display: block;
}


.next {
    /* position: absolute;
    top: 0;
    width: 100%; */
    
  
  }

.item img {
    height: 400px;
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5%;
    cursor: pointer;
}

.control.left {
    left: 0;
    right: auto;
}

.control.right {
    right: 0;
    left: auto;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
}

.arrow.right {
    right: 50%;
}

/* animation  */

.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
        /* opacity: 100%; */
    }
    to {
        left: -100%;
        /* opacity: 0% */
    }
}

@keyframes right {
    from {
        left: 100%;
        /* opacity: 0%; */
    }
    to {
        left: 0;
        /* opacity: 100%; */
    }
}